
<container class = "body_container">
  <div class = "featured">
    <div class = "header_img"><%= link_to image_tag(Project.last.image), project_path(Project.last)%></div>
    <div class="project_of_day">Project of the Day</div>
  </div>

  <div class = "header2">Projects We Love</div>

  <div class = "list-projects">
    <% @projects.each do |p| %>
      <ul class = "list-items">
        <% if p == @projects.last %>
        <% else %>
          <li class = "list-image"><%= link_to image_tag(p.image), project_path(p) %></li>
          <div class = "list-description">
            <li class = "title"><%= p.title %></li>
            <li class = "description"><%= p.description %></li>
            <li class= "description">Time left: <%= ((((p.end_date.to_time) - Time.now)/3600)/24).to_i %> days</li>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</container>
