<h1>Create a project</h1>

<h2>Enter project details</h2>

<%= form_for @project do |f| %>
<div class="project-field">
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<div class="project-field">
<%= f.label :description %>
<%= f.text_area :description %>
</div>
<div class="project-field">
<%= f.label :goal %>
<%= f.number_field :goal %>
</div>
<div class="project-field">
<%= f.label :end_date %>
<%= f.date_select :end_date %>
</div>
<div class="project-field">
<%= f.label :image %>
<%= f.text_field :image %>
</div>

<h2>Set your rewards</h2>

<%= f.fields_for :rewards, @reward do |r| %>
  <div class="project-field">
  <%= r.label :title %>
  <%= r.text_field :title  %>
  </div>
  <div class="project-field">
  <%= r.label :description %>
  <%= r.text_area :description %>
  </div>
  <div class="project-field">
  <%= r.label :pledge %>
  <%= r.number_field :pledge %>
  </div>
<% end %>

<div class="project-actions"><%= f.submit "Start Project" %></div>
<% end %>
